@page
@model admin_view.Pages.done_inquiries

@{
    ViewData["Title"] = "Inquiry status";
}
<h6>Done Inquiries:</h6>

<table class="table">
    <thead>
    <th>Request</th>
    <th>From</th>
    <th>Date</th>
    </thead>
    <tbody>
    <tr>
        <td>I'm a seen request</td>
        <td>coach</td>
        <td>12/11/2023</td>
    </tr>
    </tbody>
</table>
