@page
@model WebApplication1.Pages.fees

@{
}
<style>
    body {
        font-family: Arial, sans-serif;
        color: #fff;
    }

    h1 {
        text-align: center;
        color: #fff;
        padding: 20px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th {
        background-color: #4CAF50;
        color: white;
        padding: 15px;
        text-align: left;
    }

    .table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table tr:hover {
        background-color: #4CAF50;
    }
</style>

<h1>Fees</h1>

<table class="table">
    <tr>
        <th>Subscription</th>
        <th>Amount</th>
        <th>Method</th>
    </tr>
    @foreach (System.Data.DataRow row in Model.Fees.Rows)
    {
        <tr>
            <td>@row["sub_id"].ToString()</td>
            <td>@row["amount_to_pay"].ToString()</td>
            <td>@row["payement_method"].ToString()</td>
        </tr>
    }
</table>

