@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

</div>
<h1 class="display-4">Welcome Coach!</h1>
<div class="button-container">
    <a class="btn btn-primary" href="/Schedule"> Schedule Page </a>
    <a class="btn btn-primary" href="/Trainee_Adjust_Skill"> Adjust Skill Level </a>
    <a class="btn btn-primary" href="/Requests"> Requests Page </a>
</div>
